.wrapper-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px);
    background: #aba2d0;
    padding: 100px;
}
.profile{
    width: 400px;
    height: 400px;
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: rgba(20, 20, 20, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.title-profile{
    font-size: 30px;
    font-weight: 700;
    color: #747474;
    margin-bottom: 20px;
    line-height: 1;
}
.wrapper-photo{
    display: flex;
    align-items: center;
}
.img-profile{
    display: flex;
    padding: 1px;
    border: 5px solid #747474;
    border-radius: 100px;
    width: 140px;
    height: 140px;

}
.img-profile img{
    border: 1px solid #74747410;
    border-radius: 100px;
    width: 135px;
}
.button-profile{
    border-radius: 5px;
    border: 2px solid #83becc ;
    color: #fff;
    background: #83becc;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    margin-left: 30px;
}
.button-profile:hover{
    background: none;
    color: #83becc;
}
@media (max-width: 767px) {
    .wrapper-profile{
        background: #fff;
    }
    .profile{
        background: #fff;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wrapper-photo{
        display: flex;
        flex-direction: column;
    }
    .button-profile{
        margin-top: 30px;
        margin-left: 0;
    }
    .title-profile{
        font-size: 25px;
    }
}